=begin
#NIUM Platform

#NIUM Platform

The version of the OpenAPI document: 2023.12.12
Contact: experience@nium.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.3.0

=end

require 'cgi'

module NiumClient
  class Class3DSApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # 3DS passcode enrollment status
    # API allows to retrieve the status of passcode enrollments for all cards associated with wallet. Results can be filtered by `cardHashId`
    # @param client_hash_id [String] Unique client identifier generated and shared before API handshake.
    # @param customer_hash_id [String] Unique customer identifier generated on customer creation.
    # @param wallet_hash_id [String] Unique wallet identifier generated simultaneously with customer creation.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :card_hash_id Unique card identifier generated while new/add-on card issuance.
    # @option opts [String] :x_request_id Please enter a unique UUID value
    # @return [Array<PasscodeStatusDTO>]
    def passcode_enrollment_status(client_hash_id, customer_hash_id, wallet_hash_id, opts = {})
      data, _status_code, _headers = passcode_enrollment_status_with_http_info(client_hash_id, customer_hash_id, wallet_hash_id, opts)
      data
    end

    # 3DS passcode enrollment status
    # API allows to retrieve the status of passcode enrollments for all cards associated with wallet. Results can be filtered by &#x60;cardHashId&#x60;
    # @param client_hash_id [String] Unique client identifier generated and shared before API handshake.
    # @param customer_hash_id [String] Unique customer identifier generated on customer creation.
    # @param wallet_hash_id [String] Unique wallet identifier generated simultaneously with customer creation.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :card_hash_id Unique card identifier generated while new/add-on card issuance.
    # @option opts [String] :x_request_id Please enter a unique UUID value
    # @return [Array<(Array<PasscodeStatusDTO>, Integer, Hash)>] Array<PasscodeStatusDTO> data, response status code and response headers
    def passcode_enrollment_status_with_http_info(client_hash_id, customer_hash_id, wallet_hash_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Class3DSApi.passcode_enrollment_status ...'
      end
      # verify the required parameter 'client_hash_id' is set
      if @api_client.config.client_side_validation && client_hash_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_hash_id' when calling Class3DSApi.passcode_enrollment_status"
      end
      # verify the required parameter 'customer_hash_id' is set
      if @api_client.config.client_side_validation && customer_hash_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_hash_id' when calling Class3DSApi.passcode_enrollment_status"
      end
      # verify the required parameter 'wallet_hash_id' is set
      if @api_client.config.client_side_validation && wallet_hash_id.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_hash_id' when calling Class3DSApi.passcode_enrollment_status"
      end
      # resource path
      local_var_path = '/api/v1/client/{clientHashId}/customer/{customerHashId}/wallet/{walletHashId}/3ds/passcode/status'.sub('{' + 'clientHashId' + '}', CGI.escape(client_hash_id.to_s)).sub('{' + 'customerHashId' + '}', CGI.escape(customer_hash_id.to_s)).sub('{' + 'walletHashId' + '}', CGI.escape(wallet_hash_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cardHashId'] = opts[:'card_hash_id'] if !opts[:'card_hash_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      header_params[:'x-request-id'] = opts[:'x_request_id'] if !opts[:'x_request_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<PasscodeStatusDTO>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['default']

      new_options = opts.merge(
        :operation => :"Class3DSApi.passcode_enrollment_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Class3DSApi#passcode_enrollment_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Process OOB callback
    # API to notify Nium on success of OOB authentication
    # @param client_hash_id [String] Unique client identifier generated and shared before API handshake.
    # @param oob_callback_request_dto [OOBCallbackRequestDTO] oobCallbackRequestDTO
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_request_id Enter a unique UUID value
    # @return [OOBCallbackResponseDTO]
    def process_oo_bcallback(client_hash_id, oob_callback_request_dto, opts = {})
      data, _status_code, _headers = process_oo_bcallback_with_http_info(client_hash_id, oob_callback_request_dto, opts)
      data
    end

    # Process OOB callback
    # API to notify Nium on success of OOB authentication
    # @param client_hash_id [String] Unique client identifier generated and shared before API handshake.
    # @param oob_callback_request_dto [OOBCallbackRequestDTO] oobCallbackRequestDTO
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_request_id Enter a unique UUID value
    # @return [Array<(OOBCallbackResponseDTO, Integer, Hash)>] OOBCallbackResponseDTO data, response status code and response headers
    def process_oo_bcallback_with_http_info(client_hash_id, oob_callback_request_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Class3DSApi.process_oo_bcallback ...'
      end
      # verify the required parameter 'client_hash_id' is set
      if @api_client.config.client_side_validation && client_hash_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_hash_id' when calling Class3DSApi.process_oo_bcallback"
      end
      # verify the required parameter 'oob_callback_request_dto' is set
      if @api_client.config.client_side_validation && oob_callback_request_dto.nil?
        fail ArgumentError, "Missing the required parameter 'oob_callback_request_dto' when calling Class3DSApi.process_oo_bcallback"
      end
      # resource path
      local_var_path = '/api/v1/client/{clientHashId}/notifications/3ds/oob/callback'.sub('{' + 'clientHashId' + '}', CGI.escape(client_hash_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', '*/*'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-request-id'] = opts[:'x_request_id'] if !opts[:'x_request_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(oob_callback_request_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'OOBCallbackResponseDTO'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['default']

      new_options = opts.merge(
        :operation => :"Class3DSApi.process_oo_bcallback",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Class3DSApi#process_oo_bcallback\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 3DS OOB Callback V2
    # API to notify Nium on success or failure of OOB authentication
    # @param client_hash_id [String] Unique client identifier generated and shared before API handshake.
    # @param oob_callback_request_dto [OobCallbackRequestDTO] oobCallbackRequestDTO
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_request_id Enter a unique UUID value.
    # @return [nil]
    def process_oob_callback_v2(client_hash_id, oob_callback_request_dto, opts = {})
      process_oob_callback_v2_with_http_info(client_hash_id, oob_callback_request_dto, opts)
      nil
    end

    # 3DS OOB Callback V2
    # API to notify Nium on success or failure of OOB authentication
    # @param client_hash_id [String] Unique client identifier generated and shared before API handshake.
    # @param oob_callback_request_dto [OobCallbackRequestDTO] oobCallbackRequestDTO
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_request_id Enter a unique UUID value.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def process_oob_callback_v2_with_http_info(client_hash_id, oob_callback_request_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Class3DSApi.process_oob_callback_v2 ...'
      end
      # verify the required parameter 'client_hash_id' is set
      if @api_client.config.client_side_validation && client_hash_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_hash_id' when calling Class3DSApi.process_oob_callback_v2"
      end
      # verify the required parameter 'oob_callback_request_dto' is set
      if @api_client.config.client_side_validation && oob_callback_request_dto.nil?
        fail ArgumentError, "Missing the required parameter 'oob_callback_request_dto' when calling Class3DSApi.process_oob_callback_v2"
      end
      # resource path
      local_var_path = '/api/v2/client/{clientHashId}/3ds/oob/callback'.sub('{' + 'clientHashId' + '}', CGI.escape(client_hash_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-request-id'] = opts[:'x_request_id'] if !opts[:'x_request_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(oob_callback_request_dto)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['default']

      new_options = opts.merge(
        :operation => :"Class3DSApi.process_oob_callback_v2",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Class3DSApi#process_oob_callback_v2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add or Update passcode
    # API to update the 3DS passcode for a specific card.
    # @param client_hash_id [String] Unique client identifier generated and shared before API handshake.
    # @param customer_hash_id [String] Unique customer identifier generated on customer creation.
    # @param wallet_hash_id [String] Unique wallet identifier generated simultaneously with customer creation.
    # @param card_hash_id [String] Unique card identifier generated while new/add-on card issuance.
    # @param passcode_request_dto [PasscodeRequestDTO] passcodeRequestDTO
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_request_id Enter a unique UUID value
    # @return [PasscodeResponseDTO]
    def set_passcode(client_hash_id, customer_hash_id, wallet_hash_id, card_hash_id, passcode_request_dto, opts = {})
      data, _status_code, _headers = set_passcode_with_http_info(client_hash_id, customer_hash_id, wallet_hash_id, card_hash_id, passcode_request_dto, opts)
      data
    end

    # Add or Update passcode
    # API to update the 3DS passcode for a specific card.
    # @param client_hash_id [String] Unique client identifier generated and shared before API handshake.
    # @param customer_hash_id [String] Unique customer identifier generated on customer creation.
    # @param wallet_hash_id [String] Unique wallet identifier generated simultaneously with customer creation.
    # @param card_hash_id [String] Unique card identifier generated while new/add-on card issuance.
    # @param passcode_request_dto [PasscodeRequestDTO] passcodeRequestDTO
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_request_id Enter a unique UUID value
    # @return [Array<(PasscodeResponseDTO, Integer, Hash)>] PasscodeResponseDTO data, response status code and response headers
    def set_passcode_with_http_info(client_hash_id, customer_hash_id, wallet_hash_id, card_hash_id, passcode_request_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Class3DSApi.set_passcode ...'
      end
      # verify the required parameter 'client_hash_id' is set
      if @api_client.config.client_side_validation && client_hash_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_hash_id' when calling Class3DSApi.set_passcode"
      end
      # verify the required parameter 'customer_hash_id' is set
      if @api_client.config.client_side_validation && customer_hash_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_hash_id' when calling Class3DSApi.set_passcode"
      end
      # verify the required parameter 'wallet_hash_id' is set
      if @api_client.config.client_side_validation && wallet_hash_id.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_hash_id' when calling Class3DSApi.set_passcode"
      end
      # verify the required parameter 'card_hash_id' is set
      if @api_client.config.client_side_validation && card_hash_id.nil?
        fail ArgumentError, "Missing the required parameter 'card_hash_id' when calling Class3DSApi.set_passcode"
      end
      # verify the required parameter 'passcode_request_dto' is set
      if @api_client.config.client_side_validation && passcode_request_dto.nil?
        fail ArgumentError, "Missing the required parameter 'passcode_request_dto' when calling Class3DSApi.set_passcode"
      end
      # resource path
      local_var_path = '/api/v1/client/{clientHashId}/customer/{customerHashId}/wallet/{walletHashId}/card/{cardHashId}/3ds/passcode'.sub('{' + 'clientHashId' + '}', CGI.escape(client_hash_id.to_s)).sub('{' + 'customerHashId' + '}', CGI.escape(customer_hash_id.to_s)).sub('{' + 'walletHashId' + '}', CGI.escape(wallet_hash_id.to_s)).sub('{' + 'cardHashId' + '}', CGI.escape(card_hash_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-request-id'] = opts[:'x_request_id'] if !opts[:'x_request_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(passcode_request_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'PasscodeResponseDTO'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['default']

      new_options = opts.merge(
        :operation => :"Class3DSApi.set_passcode",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Class3DSApi#set_passcode\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
