=begin
#NIUM Platform

#NIUM Platform

The version of the OpenAPI document: 2023.12.12
Contact: experience@nium.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.3.0

=end

require 'cgi'

module NiumClient
  class OpenBankingOnboardingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Account Details By Customer Consent ID.
    # This API allows Client to get the account details using the customer's consent Id for open banking, as part of the AIS flow.
    # @param account_consent_id [String] accountConsentId
    # @param client_hash_id [String] Unique client identifier generated and shared before API handshake.
    # @param customer_hash_id [String] Unique customer identifier generated on customer creation.
    # @param wallet_hash_id [String] Unique wallet identifier generated simultaneously with customer creation.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_request_id Enter a unique UUID value
    # @return [ConsentDetailsResponse]
    def account_details_by_customer_consent_id(account_consent_id, client_hash_id, customer_hash_id, wallet_hash_id, opts = {})
      data, _status_code, _headers = account_details_by_customer_consent_id_with_http_info(account_consent_id, client_hash_id, customer_hash_id, wallet_hash_id, opts)
      data
    end

    # Account Details By Customer Consent ID.
    # This API allows Client to get the account details using the customer&#39;s consent Id for open banking, as part of the AIS flow.
    # @param account_consent_id [String] accountConsentId
    # @param client_hash_id [String] Unique client identifier generated and shared before API handshake.
    # @param customer_hash_id [String] Unique customer identifier generated on customer creation.
    # @param wallet_hash_id [String] Unique wallet identifier generated simultaneously with customer creation.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_request_id Enter a unique UUID value
    # @return [Array<(ConsentDetailsResponse, Integer, Hash)>] ConsentDetailsResponse data, response status code and response headers
    def account_details_by_customer_consent_id_with_http_info(account_consent_id, client_hash_id, customer_hash_id, wallet_hash_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OpenBankingOnboardingApi.account_details_by_customer_consent_id ...'
      end
      # verify the required parameter 'account_consent_id' is set
      if @api_client.config.client_side_validation && account_consent_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_consent_id' when calling OpenBankingOnboardingApi.account_details_by_customer_consent_id"
      end
      # verify the required parameter 'client_hash_id' is set
      if @api_client.config.client_side_validation && client_hash_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_hash_id' when calling OpenBankingOnboardingApi.account_details_by_customer_consent_id"
      end
      # verify the required parameter 'customer_hash_id' is set
      if @api_client.config.client_side_validation && customer_hash_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_hash_id' when calling OpenBankingOnboardingApi.account_details_by_customer_consent_id"
      end
      # verify the required parameter 'wallet_hash_id' is set
      if @api_client.config.client_side_validation && wallet_hash_id.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_hash_id' when calling OpenBankingOnboardingApi.account_details_by_customer_consent_id"
      end
      # resource path
      local_var_path = '/api/v1/client/{clientHashId}/customer/{customerHashId}/wallet/{walletHashId}/consent/account'.sub('{' + 'clientHashId' + '}', CGI.escape(client_hash_id.to_s)).sub('{' + 'customerHashId' + '}', CGI.escape(customer_hash_id.to_s)).sub('{' + 'walletHashId' + '}', CGI.escape(wallet_hash_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountConsentId'] = account_consent_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      header_params[:'x-request-id'] = opts[:'x_request_id'] if !opts[:'x_request_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ConsentDetailsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['default']

      new_options = opts.merge(
        :operation => :"OpenBankingOnboardingApi.account_details_by_customer_consent_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OpenBankingOnboardingApi#account_details_by_customer_consent_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Payment Details by System Reference Number
    # This API allows Client to fetch payment details using system reference number of the transaction, as part of the Open Banking PIS flow and based on customer's consent.
    # @param client_hash_id [String] Unique client identifier generated and shared before API handshake.
    # @param customer_hash_id [String] Unique customer identifier generated on customer creation.
    # @param system_reference_number [String] systemReferenceNumber
    # @param wallet_hash_id [String] Unique wallet identifier generated simultaneously with customer creation.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_request_id Enter a unique UUID value
    # @return [OpenBankingPaymentResponseDTO]
    def payment_detailsby_system_reference_number(client_hash_id, customer_hash_id, system_reference_number, wallet_hash_id, opts = {})
      data, _status_code, _headers = payment_detailsby_system_reference_number_with_http_info(client_hash_id, customer_hash_id, system_reference_number, wallet_hash_id, opts)
      data
    end

    # Payment Details by System Reference Number
    # This API allows Client to fetch payment details using system reference number of the transaction, as part of the Open Banking PIS flow and based on customer&#39;s consent.
    # @param client_hash_id [String] Unique client identifier generated and shared before API handshake.
    # @param customer_hash_id [String] Unique customer identifier generated on customer creation.
    # @param system_reference_number [String] systemReferenceNumber
    # @param wallet_hash_id [String] Unique wallet identifier generated simultaneously with customer creation.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_request_id Enter a unique UUID value
    # @return [Array<(OpenBankingPaymentResponseDTO, Integer, Hash)>] OpenBankingPaymentResponseDTO data, response status code and response headers
    def payment_detailsby_system_reference_number_with_http_info(client_hash_id, customer_hash_id, system_reference_number, wallet_hash_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OpenBankingOnboardingApi.payment_detailsby_system_reference_number ...'
      end
      # verify the required parameter 'client_hash_id' is set
      if @api_client.config.client_side_validation && client_hash_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_hash_id' when calling OpenBankingOnboardingApi.payment_detailsby_system_reference_number"
      end
      # verify the required parameter 'customer_hash_id' is set
      if @api_client.config.client_side_validation && customer_hash_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_hash_id' when calling OpenBankingOnboardingApi.payment_detailsby_system_reference_number"
      end
      # verify the required parameter 'system_reference_number' is set
      if @api_client.config.client_side_validation && system_reference_number.nil?
        fail ArgumentError, "Missing the required parameter 'system_reference_number' when calling OpenBankingOnboardingApi.payment_detailsby_system_reference_number"
      end
      # verify the required parameter 'wallet_hash_id' is set
      if @api_client.config.client_side_validation && wallet_hash_id.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_hash_id' when calling OpenBankingOnboardingApi.payment_detailsby_system_reference_number"
      end
      # resource path
      local_var_path = '/api/v1/client/{clientHashId}/customer/{customerHashId}/wallet/{walletHashId}/consent/payment'.sub('{' + 'clientHashId' + '}', CGI.escape(client_hash_id.to_s)).sub('{' + 'customerHashId' + '}', CGI.escape(customer_hash_id.to_s)).sub('{' + 'walletHashId' + '}', CGI.escape(wallet_hash_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'systemReferenceNumber'] = system_reference_number

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      header_params[:'x-request-id'] = opts[:'x_request_id'] if !opts[:'x_request_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OpenBankingPaymentResponseDTO'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['default']

      new_options = opts.merge(
        :operation => :"OpenBankingOnboardingApi.payment_detailsby_system_reference_number",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OpenBankingOnboardingApi#payment_detailsby_system_reference_number\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
