=begin
#NIUM Platform

#NIUM Platform

The version of the OpenAPI document: 2023.12.12
Contact: experience@nium.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.3.0

=end

require 'cgi'

module NiumClient
  class PayinApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Simulate Funding Instrument Status Update (Sandbox Testing)
    # @param client_hash_id [String] clientHashId
    # @param customer_hash_id [String] customerHashId
    # @param funding_instrument_id [String] fundingInstrumentId
    # @param funding_instrument_status_update_request_dto [FundingInstrumentStatusUpdateRequestDTO] fundingInstrumentStatusUpdateRequestDTO
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_request_id Enter a unique UUID value.
    # @return [nil]
    def simulate_funding_instrument_status_update(client_hash_id, customer_hash_id, funding_instrument_id, funding_instrument_status_update_request_dto, opts = {})
      simulate_funding_instrument_status_update_with_http_info(client_hash_id, customer_hash_id, funding_instrument_id, funding_instrument_status_update_request_dto, opts)
      nil
    end

    # Simulate Funding Instrument Status Update (Sandbox Testing)
    # @param client_hash_id [String] clientHashId
    # @param customer_hash_id [String] customerHashId
    # @param funding_instrument_id [String] fundingInstrumentId
    # @param funding_instrument_status_update_request_dto [FundingInstrumentStatusUpdateRequestDTO] fundingInstrumentStatusUpdateRequestDTO
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_request_id Enter a unique UUID value.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def simulate_funding_instrument_status_update_with_http_info(client_hash_id, customer_hash_id, funding_instrument_id, funding_instrument_status_update_request_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayinApi.simulate_funding_instrument_status_update ...'
      end
      # verify the required parameter 'client_hash_id' is set
      if @api_client.config.client_side_validation && client_hash_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_hash_id' when calling PayinApi.simulate_funding_instrument_status_update"
      end
      # verify the required parameter 'customer_hash_id' is set
      if @api_client.config.client_side_validation && customer_hash_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_hash_id' when calling PayinApi.simulate_funding_instrument_status_update"
      end
      # verify the required parameter 'funding_instrument_id' is set
      if @api_client.config.client_side_validation && funding_instrument_id.nil?
        fail ArgumentError, "Missing the required parameter 'funding_instrument_id' when calling PayinApi.simulate_funding_instrument_status_update"
      end
      # verify the required parameter 'funding_instrument_status_update_request_dto' is set
      if @api_client.config.client_side_validation && funding_instrument_status_update_request_dto.nil?
        fail ArgumentError, "Missing the required parameter 'funding_instrument_status_update_request_dto' when calling PayinApi.simulate_funding_instrument_status_update"
      end
      # resource path
      local_var_path = '/api/v1/simulations/client/{clientHashId}/customer/{customerHashId}/fundingInstruments/{fundingInstrumentId}/updateStatus'.sub('{' + 'clientHashId' + '}', CGI.escape(client_hash_id.to_s)).sub('{' + 'customerHashId' + '}', CGI.escape(customer_hash_id.to_s)).sub('{' + 'fundingInstrumentId' + '}', CGI.escape(funding_instrument_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-request-id'] = opts[:'x_request_id'] if !opts[:'x_request_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(funding_instrument_status_update_request_dto)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['default']

      new_options = opts.merge(
        :operation => :"PayinApi.simulate_funding_instrument_status_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayinApi#simulate_funding_instrument_status_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Simulate Receive Transaction
    # This API can be used in 'Sandbox testing' to simulate inward receive transaction and credit funds into the wallet for testing purposes.  >ℹ️ INFO  >This API is for testing purpose only and not to be used in production. >Use a unique bankReferenceNumber for every new simulated receive payment transaction request.
    # @param inward_payment_manual_request_dto [InwardPaymentManualRequestDTO] inwardPaymentManualRequestDTO
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_request_id Enter a unique UUID value
    # @return [PayinApiResponse2]
    def simulatereceivepayment(inward_payment_manual_request_dto, opts = {})
      data, _status_code, _headers = simulatereceivepayment_with_http_info(inward_payment_manual_request_dto, opts)
      data
    end

    # Simulate Receive Transaction
    # This API can be used in &#39;Sandbox testing&#39; to simulate inward receive transaction and credit funds into the wallet for testing purposes.  &gt;ℹ️ INFO  &gt;This API is for testing purpose only and not to be used in production. &gt;Use a unique bankReferenceNumber for every new simulated receive payment transaction request.
    # @param inward_payment_manual_request_dto [InwardPaymentManualRequestDTO] inwardPaymentManualRequestDTO
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_request_id Enter a unique UUID value
    # @return [Array<(PayinApiResponse2, Integer, Hash)>] PayinApiResponse2 data, response status code and response headers
    def simulatereceivepayment_with_http_info(inward_payment_manual_request_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayinApi.simulatereceivepayment ...'
      end
      # verify the required parameter 'inward_payment_manual_request_dto' is set
      if @api_client.config.client_side_validation && inward_payment_manual_request_dto.nil?
        fail ArgumentError, "Missing the required parameter 'inward_payment_manual_request_dto' when calling PayinApi.simulatereceivepayment"
      end
      # resource path
      local_var_path = '/api/v1/inward/payment/manual'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-request-id'] = opts[:'x_request_id'] if !opts[:'x_request_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(inward_payment_manual_request_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'PayinApiResponse2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['default']

      new_options = opts.merge(
        :operation => :"PayinApi.simulatereceivepayment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayinApi#simulatereceivepayment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
