=begin
#NIUM Platform

#NIUM Platform

The version of the OpenAPI document: 2023.12.12
Contact: experience@nium.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.3.0

=end

require 'cgi'

module NiumClient
  class ReferenceDataApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Fetch Bank Details using Routing Code
    # This API allows you to fetch the bank details against the routing information.
    # @param client_hash_id [String] Unique client identifier generated and shared before API handshake.
    # @param country_code [String] This field accepts the [2-letter ISO-2 country code](doc:currency-and-country-codes) of a beneficiary.
    # @param customer_hash_id [String] This field accepts the unique customer identifier generated on customer creation.
    # @param routing_code_type [String] This field accepts the routing code type 1. The possible values are: SWIFT for all cases where SWIFT is applicable IFSC (relevant for India) ACH CODE (relevant for USA) BSB CODE (relevant for Australia) SORT CODE (relevant for the UK) LOCATION ID (relevant for Nepal) BANK CODE (relevant for few countries including Canada, Hong Kong, Sri Lanka, South Korea, Pakistan, Brazil, and some more) TRANSIT NUMBER (relevant for Canada) BRANCH CODE (relevant for Sri Lanka, Vietnam, Brazil, Uruguay, Kenya and some more) Given that the routing_code_type_1 is a PATH parameter, apply URL encoding. For example, when you want to pass ACH CODE, after URL encoding you will pass it as ACH%20CODE
    # @param routing_code_value [String] This field accepts the routing code value 1. Refer to the [Examples of Routing Codes](/apis/docs/routing-codes#examples-of-routing-codes).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_request_id Enter a unique UUID value
    # @return [Resource]
    def fetch_bank_detailsusing_routing_code(client_hash_id, country_code, customer_hash_id, routing_code_type, routing_code_value, opts = {})
      data, _status_code, _headers = fetch_bank_detailsusing_routing_code_with_http_info(client_hash_id, country_code, customer_hash_id, routing_code_type, routing_code_value, opts)
      data
    end

    # Fetch Bank Details using Routing Code
    # This API allows you to fetch the bank details against the routing information.
    # @param client_hash_id [String] Unique client identifier generated and shared before API handshake.
    # @param country_code [String] This field accepts the [2-letter ISO-2 country code](doc:currency-and-country-codes) of a beneficiary.
    # @param customer_hash_id [String] This field accepts the unique customer identifier generated on customer creation.
    # @param routing_code_type [String] This field accepts the routing code type 1. The possible values are: SWIFT for all cases where SWIFT is applicable IFSC (relevant for India) ACH CODE (relevant for USA) BSB CODE (relevant for Australia) SORT CODE (relevant for the UK) LOCATION ID (relevant for Nepal) BANK CODE (relevant for few countries including Canada, Hong Kong, Sri Lanka, South Korea, Pakistan, Brazil, and some more) TRANSIT NUMBER (relevant for Canada) BRANCH CODE (relevant for Sri Lanka, Vietnam, Brazil, Uruguay, Kenya and some more) Given that the routing_code_type_1 is a PATH parameter, apply URL encoding. For example, when you want to pass ACH CODE, after URL encoding you will pass it as ACH%20CODE
    # @param routing_code_value [String] This field accepts the routing code value 1. Refer to the [Examples of Routing Codes](/apis/docs/routing-codes#examples-of-routing-codes).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_request_id Enter a unique UUID value
    # @return [Array<(Resource, Integer, Hash)>] Resource data, response status code and response headers
    def fetch_bank_detailsusing_routing_code_with_http_info(client_hash_id, country_code, customer_hash_id, routing_code_type, routing_code_value, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReferenceDataApi.fetch_bank_detailsusing_routing_code ...'
      end
      # verify the required parameter 'client_hash_id' is set
      if @api_client.config.client_side_validation && client_hash_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_hash_id' when calling ReferenceDataApi.fetch_bank_detailsusing_routing_code"
      end
      # verify the required parameter 'country_code' is set
      if @api_client.config.client_side_validation && country_code.nil?
        fail ArgumentError, "Missing the required parameter 'country_code' when calling ReferenceDataApi.fetch_bank_detailsusing_routing_code"
      end
      # verify the required parameter 'customer_hash_id' is set
      if @api_client.config.client_side_validation && customer_hash_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_hash_id' when calling ReferenceDataApi.fetch_bank_detailsusing_routing_code"
      end
      # verify the required parameter 'routing_code_type' is set
      if @api_client.config.client_side_validation && routing_code_type.nil?
        fail ArgumentError, "Missing the required parameter 'routing_code_type' when calling ReferenceDataApi.fetch_bank_detailsusing_routing_code"
      end
      # verify the required parameter 'routing_code_value' is set
      if @api_client.config.client_side_validation && routing_code_value.nil?
        fail ArgumentError, "Missing the required parameter 'routing_code_value' when calling ReferenceDataApi.fetch_bank_detailsusing_routing_code"
      end
      # resource path
      local_var_path = '/api/v1/client/{clientHashId}/customer/{customerHashId}/country/{countryCode}/routingCodeType/{routingCodeType}/routingCodeValue/{routingCodeValue}/routingCode'.sub('{' + 'clientHashId' + '}', CGI.escape(client_hash_id.to_s)).sub('{' + 'countryCode' + '}', CGI.escape(country_code.to_s)).sub('{' + 'customerHashId' + '}', CGI.escape(customer_hash_id.to_s)).sub('{' + 'routingCodeType' + '}', CGI.escape(routing_code_type.to_s)).sub('{' + 'routingCodeValue' + '}', CGI.escape(routing_code_value.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      header_params[:'x-request-id'] = opts[:'x_request_id'] if !opts[:'x_request_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Resource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['default']

      new_options = opts.merge(
        :operation => :"ReferenceDataApi.fetch_bank_detailsusing_routing_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReferenceDataApi#fetch_bank_detailsusing_routing_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch Supported Corridors
    # This API will allow you to fetch the supported corridors for remittance with details.
    # @param client_hash_id [String] Unique client identifier generated and shared before API handshake.
    # @param customer_hash_id [String] Unique customer identifier generated on customer creation.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_request_id Enter a unique UUID value
    # @return [Resource]
    def fetch_supported_corridors(client_hash_id, customer_hash_id, opts = {})
      data, _status_code, _headers = fetch_supported_corridors_with_http_info(client_hash_id, customer_hash_id, opts)
      data
    end

    # Fetch Supported Corridors
    # This API will allow you to fetch the supported corridors for remittance with details.
    # @param client_hash_id [String] Unique client identifier generated and shared before API handshake.
    # @param customer_hash_id [String] Unique customer identifier generated on customer creation.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_request_id Enter a unique UUID value
    # @return [Array<(Resource, Integer, Hash)>] Resource data, response status code and response headers
    def fetch_supported_corridors_with_http_info(client_hash_id, customer_hash_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReferenceDataApi.fetch_supported_corridors ...'
      end
      # verify the required parameter 'client_hash_id' is set
      if @api_client.config.client_side_validation && client_hash_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_hash_id' when calling ReferenceDataApi.fetch_supported_corridors"
      end
      # verify the required parameter 'customer_hash_id' is set
      if @api_client.config.client_side_validation && customer_hash_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_hash_id' when calling ReferenceDataApi.fetch_supported_corridors"
      end
      # resource path
      local_var_path = '/api/v1/client/{clientHashId}/customer/{customerHashId}/supportedCorridors'.sub('{' + 'clientHashId' + '}', CGI.escape(client_hash_id.to_s)).sub('{' + 'customerHashId' + '}', CGI.escape(customer_hash_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'x-request-id'] = opts[:'x_request_id'] if !opts[:'x_request_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Resource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['default']

      new_options = opts.merge(
        :operation => :"ReferenceDataApi.fetch_supported_corridors",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReferenceDataApi#fetch_supported_corridors\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch Supported Corridors V2
    # This API will allow you to fetch the supported corridors for remittance with details.
    # @param client_hash_id [String] Unique client identifier generated and shared before API handshake.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :beneficiary_account_type This field accepts the beneficiary account type.
    # @option opts [String] :client_type This field accepts type of Client e.g. FI, NonFI, default NonFI.
    # @option opts [String] :customer_type This field accepts the type of customer.
    # @option opts [String] :destination_country This field accepts the [2-letter ISO-2 destination country code](https://docs.nium.com/apis/docs/currency-and-country-codes).
    # @option opts [String] :destination_currency This field accepts the [3-letter ISO-4217 currency code](https://docs.nium.com/apis/docs/currency-and-country-codes) which will be used to filter the user selected currency and get the payout method.
    # @option opts [String] :payout_method This field accepts the different modes of payout.
    # @option opts [String] :routing_code_type This field determines the routing code type for the currency.
    # @option opts [String] :x_request_id Enter a unique UUID value
    # @return [Array<SupportedCorridorsResponseDTO>]
    def fetch_supported_corridors_v2(client_hash_id, opts = {})
      data, _status_code, _headers = fetch_supported_corridors_v2_with_http_info(client_hash_id, opts)
      data
    end

    # Fetch Supported Corridors V2
    # This API will allow you to fetch the supported corridors for remittance with details.
    # @param client_hash_id [String] Unique client identifier generated and shared before API handshake.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :beneficiary_account_type This field accepts the beneficiary account type.
    # @option opts [String] :client_type This field accepts type of Client e.g. FI, NonFI, default NonFI.
    # @option opts [String] :customer_type This field accepts the type of customer.
    # @option opts [String] :destination_country This field accepts the [2-letter ISO-2 destination country code](https://docs.nium.com/apis/docs/currency-and-country-codes).
    # @option opts [String] :destination_currency This field accepts the [3-letter ISO-4217 currency code](https://docs.nium.com/apis/docs/currency-and-country-codes) which will be used to filter the user selected currency and get the payout method.
    # @option opts [String] :payout_method This field accepts the different modes of payout.
    # @option opts [String] :routing_code_type This field determines the routing code type for the currency.
    # @option opts [String] :x_request_id Enter a unique UUID value
    # @return [Array<(Array<SupportedCorridorsResponseDTO>, Integer, Hash)>] Array<SupportedCorridorsResponseDTO> data, response status code and response headers
    def fetch_supported_corridors_v2_with_http_info(client_hash_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReferenceDataApi.fetch_supported_corridors_v2 ...'
      end
      # verify the required parameter 'client_hash_id' is set
      if @api_client.config.client_side_validation && client_hash_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_hash_id' when calling ReferenceDataApi.fetch_supported_corridors_v2"
      end
      # resource path
      local_var_path = '/api/v2/client/{clientHashId}/supportedCorridors'.sub('{' + 'clientHashId' + '}', CGI.escape(client_hash_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'beneficiaryAccountType'] = opts[:'beneficiary_account_type'] if !opts[:'beneficiary_account_type'].nil?
      query_params[:'clientType'] = opts[:'client_type'] if !opts[:'client_type'].nil?
      query_params[:'customerType'] = opts[:'customer_type'] if !opts[:'customer_type'].nil?
      query_params[:'destinationCountry'] = opts[:'destination_country'] if !opts[:'destination_country'].nil?
      query_params[:'destinationCurrency'] = opts[:'destination_currency'] if !opts[:'destination_currency'].nil?
      query_params[:'payoutMethod'] = opts[:'payout_method'] if !opts[:'payout_method'].nil?
      query_params[:'routingCodeType'] = opts[:'routing_code_type'] if !opts[:'routing_code_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'x-request-id'] = opts[:'x_request_id'] if !opts[:'x_request_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<SupportedCorridorsResponseDTO>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['default']

      new_options = opts.merge(
        :operation => :"ReferenceDataApi.fetch_supported_corridors_v2",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReferenceDataApi#fetch_supported_corridors_v2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Routing Code Using Bank Name
    # This API will allow you to search the routing code details using bank name.
    # @param client_hash_id [String] Unique client identifier generated and shared before API handshake.
    # @param country_code [String] This field accepts the [2-letter ISO-2 country code](doc:currency-and-country-codes) for which routing code search is initiated.
    # @param routing_code_type [String] This field determines the routing code type for the search.
    # @param search_value [String] This field accepts the partial or full value of the Bank Name on which the search is initiated, for example, it could be DBS.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bank_code This field can accept the bank code of specified branch and country.
    # @option opts [String] :bank_name This field can accept the bank name associated with country.
    # @option opts [String] :currency_code This field accepts the [3-letter ISO-4217 currency code](doc:currency-and-country-codes) for which routing code search is to be initiated.
    # @option opts [String] :payout_method This field can accept the different modes of payout. This field can accept one of the following values: LOCAL SWIFT WALLET CARD PROXY(upcoming feature) Default value of the parameter is LOCAL.
    # @option opts [String] :x_request_id Enter a unique UUID value
    # @return [Array<PartialSearchBankNameResponseDTO>]
    def search_routing_code_using_bank_name(client_hash_id, country_code, routing_code_type, search_value, opts = {})
      data, _status_code, _headers = search_routing_code_using_bank_name_with_http_info(client_hash_id, country_code, routing_code_type, search_value, opts)
      data
    end

    # Search Routing Code Using Bank Name
    # This API will allow you to search the routing code details using bank name.
    # @param client_hash_id [String] Unique client identifier generated and shared before API handshake.
    # @param country_code [String] This field accepts the [2-letter ISO-2 country code](doc:currency-and-country-codes) for which routing code search is initiated.
    # @param routing_code_type [String] This field determines the routing code type for the search.
    # @param search_value [String] This field accepts the partial or full value of the Bank Name on which the search is initiated, for example, it could be DBS.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bank_code This field can accept the bank code of specified branch and country.
    # @option opts [String] :bank_name This field can accept the bank name associated with country.
    # @option opts [String] :currency_code This field accepts the [3-letter ISO-4217 currency code](doc:currency-and-country-codes) for which routing code search is to be initiated.
    # @option opts [String] :payout_method This field can accept the different modes of payout. This field can accept one of the following values: LOCAL SWIFT WALLET CARD PROXY(upcoming feature) Default value of the parameter is LOCAL.
    # @option opts [String] :x_request_id Enter a unique UUID value
    # @return [Array<(Array<PartialSearchBankNameResponseDTO>, Integer, Hash)>] Array<PartialSearchBankNameResponseDTO> data, response status code and response headers
    def search_routing_code_using_bank_name_with_http_info(client_hash_id, country_code, routing_code_type, search_value, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReferenceDataApi.search_routing_code_using_bank_name ...'
      end
      # verify the required parameter 'client_hash_id' is set
      if @api_client.config.client_side_validation && client_hash_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_hash_id' when calling ReferenceDataApi.search_routing_code_using_bank_name"
      end
      # verify the required parameter 'country_code' is set
      if @api_client.config.client_side_validation && country_code.nil?
        fail ArgumentError, "Missing the required parameter 'country_code' when calling ReferenceDataApi.search_routing_code_using_bank_name"
      end
      # verify the required parameter 'routing_code_type' is set
      if @api_client.config.client_side_validation && routing_code_type.nil?
        fail ArgumentError, "Missing the required parameter 'routing_code_type' when calling ReferenceDataApi.search_routing_code_using_bank_name"
      end
      # verify enum value
      allowable_values = ["IFSC", "SWIFT", "ACH CODE", "BSB CODE", "SORT CODE", "BANK CODE", "LOCATION ID", "BRANCH CODE", "BRANCH NAME", "TRANSIT NUMBER"]
      if @api_client.config.client_side_validation && !allowable_values.include?(routing_code_type)
        fail ArgumentError, "invalid value for \"routing_code_type\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'search_value' is set
      if @api_client.config.client_side_validation && search_value.nil?
        fail ArgumentError, "Missing the required parameter 'search_value' when calling ReferenceDataApi.search_routing_code_using_bank_name"
      end
      # resource path
      local_var_path = '/api/v2/client/{clientHashId}/payout/banks'.sub('{' + 'clientHashId' + '}', CGI.escape(client_hash_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'countryCode'] = country_code
      query_params[:'routingCodeType'] = routing_code_type
      query_params[:'searchValue'] = search_value
      query_params[:'bankCode'] = opts[:'bank_code'] if !opts[:'bank_code'].nil?
      query_params[:'bankName'] = opts[:'bank_name'] if !opts[:'bank_name'].nil?
      query_params[:'currencyCode'] = opts[:'currency_code'] if !opts[:'currency_code'].nil?
      query_params[:'payoutMethod'] = opts[:'payout_method'] if !opts[:'payout_method'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'x-request-id'] = opts[:'x_request_id'] if !opts[:'x_request_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<PartialSearchBankNameResponseDTO>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['default']

      new_options = opts.merge(
        :operation => :"ReferenceDataApi.search_routing_code_using_bank_name",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReferenceDataApi#search_routing_code_using_bank_name\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Routing Code Using Branch Name
    # This API will allow you to search the routing code details using branch name.
    # @param client_hash_id [String] Unique client identifier generated and shared before API handshake.
    # @param country_code [String] This field accepts the [2-letter ISO-2 country code](doc:currency-and-country-codes) for which routing code search is initiated.
    # @param routing_code_type [String] This field determines the routing code type for the search.
    # @param search_value [String] This field accepts the partial or full value of the Bank Name on which the search is initiated, for example, it could be DBS.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bank_code This field can accept the bank code of specified branch and country.
    # @option opts [String] :bank_name This field can accept the bank name associated with country.
    # @option opts [String] :currency_code This field accepts the [3-letter ISO-4217 currency code](doc:currency-and-country-codes) for which routing code search is to be initiated.
    # @option opts [String] :payout_method This field can accept the different modes of payout. This field can accept one of the following values: LOCAL SWIFT WALLET CARD PROXY(upcoming feature) Default value of the parameter is LOCAL.
    # @option opts [String] :x_request_id Enter a unique UUID value
    # @return [Array<PartialSearchBranchNameResponseDTO>]
    def search_routing_code_using_branch_name(client_hash_id, country_code, routing_code_type, search_value, opts = {})
      data, _status_code, _headers = search_routing_code_using_branch_name_with_http_info(client_hash_id, country_code, routing_code_type, search_value, opts)
      data
    end

    # Search Routing Code Using Branch Name
    # This API will allow you to search the routing code details using branch name.
    # @param client_hash_id [String] Unique client identifier generated and shared before API handshake.
    # @param country_code [String] This field accepts the [2-letter ISO-2 country code](doc:currency-and-country-codes) for which routing code search is initiated.
    # @param routing_code_type [String] This field determines the routing code type for the search.
    # @param search_value [String] This field accepts the partial or full value of the Bank Name on which the search is initiated, for example, it could be DBS.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bank_code This field can accept the bank code of specified branch and country.
    # @option opts [String] :bank_name This field can accept the bank name associated with country.
    # @option opts [String] :currency_code This field accepts the [3-letter ISO-4217 currency code](doc:currency-and-country-codes) for which routing code search is to be initiated.
    # @option opts [String] :payout_method This field can accept the different modes of payout. This field can accept one of the following values: LOCAL SWIFT WALLET CARD PROXY(upcoming feature) Default value of the parameter is LOCAL.
    # @option opts [String] :x_request_id Enter a unique UUID value
    # @return [Array<(Array<PartialSearchBranchNameResponseDTO>, Integer, Hash)>] Array<PartialSearchBranchNameResponseDTO> data, response status code and response headers
    def search_routing_code_using_branch_name_with_http_info(client_hash_id, country_code, routing_code_type, search_value, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReferenceDataApi.search_routing_code_using_branch_name ...'
      end
      # verify the required parameter 'client_hash_id' is set
      if @api_client.config.client_side_validation && client_hash_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_hash_id' when calling ReferenceDataApi.search_routing_code_using_branch_name"
      end
      # verify the required parameter 'country_code' is set
      if @api_client.config.client_side_validation && country_code.nil?
        fail ArgumentError, "Missing the required parameter 'country_code' when calling ReferenceDataApi.search_routing_code_using_branch_name"
      end
      # verify the required parameter 'routing_code_type' is set
      if @api_client.config.client_side_validation && routing_code_type.nil?
        fail ArgumentError, "Missing the required parameter 'routing_code_type' when calling ReferenceDataApi.search_routing_code_using_branch_name"
      end
      # verify enum value
      allowable_values = ["IFSC", "SWIFT", "ACH CODE", "BSB CODE", "SORT CODE", "BANK CODE", "LOCATION ID", "BRANCH CODE", "BRANCH NAME", "TRANSIT NUMBER"]
      if @api_client.config.client_side_validation && !allowable_values.include?(routing_code_type)
        fail ArgumentError, "invalid value for \"routing_code_type\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'search_value' is set
      if @api_client.config.client_side_validation && search_value.nil?
        fail ArgumentError, "Missing the required parameter 'search_value' when calling ReferenceDataApi.search_routing_code_using_branch_name"
      end
      # resource path
      local_var_path = '/api/v2/client/{clientHashId}/payout/branches'.sub('{' + 'clientHashId' + '}', CGI.escape(client_hash_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'countryCode'] = country_code
      query_params[:'routingCodeType'] = routing_code_type
      query_params[:'searchValue'] = search_value
      query_params[:'bankCode'] = opts[:'bank_code'] if !opts[:'bank_code'].nil?
      query_params[:'bankName'] = opts[:'bank_name'] if !opts[:'bank_name'].nil?
      query_params[:'currencyCode'] = opts[:'currency_code'] if !opts[:'currency_code'].nil?
      query_params[:'payoutMethod'] = opts[:'payout_method'] if !opts[:'payout_method'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'x-request-id'] = opts[:'x_request_id'] if !opts[:'x_request_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<PartialSearchBranchNameResponseDTO>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['default']

      new_options = opts.merge(
        :operation => :"ReferenceDataApi.search_routing_code_using_branch_name",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReferenceDataApi#search_routing_code_using_branch_name\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Routing Code (using bank name/branch name)
    # This API will allow you to search the routing code details of a bank based on certain parameters - i.e., by using bank name or branch name. This API will help you to build a user experience where you can help your users to locate a specific routing code (that could be SWIFT, IFSC, SORT CODE, ACH CODE, etc., - see the list below) by using full or partial name search of bank name or branch name. For example, if your user is looking for SWIFT CODE for HSBC in the UK, then this API can be used to search for the SORT CODE by searching using the bank name.
    # @param client_hash_id [String] Unique client identifier generated and shared before API handshake.
    # @param customer_hash_id [String] Unique customer identifier generated on customer creation.
    # @param partial_search_dto [PartialSearchDTO] partialSearchDTO
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_request_id Enter a unique UUID value
    # @return [Resource]
    def search_routing_codeusingbanknamebranchname(client_hash_id, customer_hash_id, partial_search_dto, opts = {})
      data, _status_code, _headers = search_routing_codeusingbanknamebranchname_with_http_info(client_hash_id, customer_hash_id, partial_search_dto, opts)
      data
    end

    # Search Routing Code (using bank name/branch name)
    # This API will allow you to search the routing code details of a bank based on certain parameters - i.e., by using bank name or branch name. This API will help you to build a user experience where you can help your users to locate a specific routing code (that could be SWIFT, IFSC, SORT CODE, ACH CODE, etc., - see the list below) by using full or partial name search of bank name or branch name. For example, if your user is looking for SWIFT CODE for HSBC in the UK, then this API can be used to search for the SORT CODE by searching using the bank name.
    # @param client_hash_id [String] Unique client identifier generated and shared before API handshake.
    # @param customer_hash_id [String] Unique customer identifier generated on customer creation.
    # @param partial_search_dto [PartialSearchDTO] partialSearchDTO
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_request_id Enter a unique UUID value
    # @return [Array<(Resource, Integer, Hash)>] Resource data, response status code and response headers
    def search_routing_codeusingbanknamebranchname_with_http_info(client_hash_id, customer_hash_id, partial_search_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReferenceDataApi.search_routing_codeusingbanknamebranchname ...'
      end
      # verify the required parameter 'client_hash_id' is set
      if @api_client.config.client_side_validation && client_hash_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_hash_id' when calling ReferenceDataApi.search_routing_codeusingbanknamebranchname"
      end
      # verify the required parameter 'customer_hash_id' is set
      if @api_client.config.client_side_validation && customer_hash_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_hash_id' when calling ReferenceDataApi.search_routing_codeusingbanknamebranchname"
      end
      # verify the required parameter 'partial_search_dto' is set
      if @api_client.config.client_side_validation && partial_search_dto.nil?
        fail ArgumentError, "Missing the required parameter 'partial_search_dto' when calling ReferenceDataApi.search_routing_codeusingbanknamebranchname"
      end
      # resource path
      local_var_path = '/api/v1/client/{clientHashId}/customer/{customerHashId}/partialSearch'.sub('{' + 'clientHashId' + '}', CGI.escape(client_hash_id.to_s)).sub('{' + 'customerHashId' + '}', CGI.escape(customer_hash_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-request-id'] = opts[:'x_request_id'] if !opts[:'x_request_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(partial_search_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'Resource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['default']

      new_options = opts.merge(
        :operation => :"ReferenceDataApi.search_routing_codeusingbanknamebranchname",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReferenceDataApi#search_routing_codeusingbanknamebranchname\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
