=begin
#NIUM Platform

#NIUM Platform

The version of the OpenAPI document: 2023.12.12
Contact: experience@nium.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.3.0

=end

require 'cgi'

module NiumClient
  class WalletToWalletTransfersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # P2P Transfer
    # This API allows you to transfer money from one wallet to another wallet within the same client family.   >⚠️ WARNING   >This API version is deprecated. Eventually, a deprecated API version becomes unsupported. Use the [Wallet To Wallet Transfer](ref:wallettransfer) API to achieve the same functionality.
    # @param client_hash_id [String] Unique client identifier generated and shared before API handshake.
    # @param customer_hash_id [String] Unique customer identifier generated on customer creation.
    # @param wallet_hash_id [String] Unique wallet identifier generated simultaneously with customer creation.
    # @param p2_p_transfer_dto [P2PTransferDTO] p2pTransferDTO
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_request_id Enter a unique UUID value
    # @return [P2PTransferResponse]
    def p2_p_transfer(client_hash_id, customer_hash_id, wallet_hash_id, p2_p_transfer_dto, opts = {})
      data, _status_code, _headers = p2_p_transfer_with_http_info(client_hash_id, customer_hash_id, wallet_hash_id, p2_p_transfer_dto, opts)
      data
    end

    # P2P Transfer
    # This API allows you to transfer money from one wallet to another wallet within the same client family.   &gt;⚠️ WARNING   &gt;This API version is deprecated. Eventually, a deprecated API version becomes unsupported. Use the [Wallet To Wallet Transfer](ref:wallettransfer) API to achieve the same functionality.
    # @param client_hash_id [String] Unique client identifier generated and shared before API handshake.
    # @param customer_hash_id [String] Unique customer identifier generated on customer creation.
    # @param wallet_hash_id [String] Unique wallet identifier generated simultaneously with customer creation.
    # @param p2_p_transfer_dto [P2PTransferDTO] p2pTransferDTO
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_request_id Enter a unique UUID value
    # @return [Array<(P2PTransferResponse, Integer, Hash)>] P2PTransferResponse data, response status code and response headers
    def p2_p_transfer_with_http_info(client_hash_id, customer_hash_id, wallet_hash_id, p2_p_transfer_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalletToWalletTransfersApi.p2_p_transfer ...'
      end
      # verify the required parameter 'client_hash_id' is set
      if @api_client.config.client_side_validation && client_hash_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_hash_id' when calling WalletToWalletTransfersApi.p2_p_transfer"
      end
      # verify the required parameter 'customer_hash_id' is set
      if @api_client.config.client_side_validation && customer_hash_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_hash_id' when calling WalletToWalletTransfersApi.p2_p_transfer"
      end
      # verify the required parameter 'wallet_hash_id' is set
      if @api_client.config.client_side_validation && wallet_hash_id.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_hash_id' when calling WalletToWalletTransfersApi.p2_p_transfer"
      end
      # verify the required parameter 'p2_p_transfer_dto' is set
      if @api_client.config.client_side_validation && p2_p_transfer_dto.nil?
        fail ArgumentError, "Missing the required parameter 'p2_p_transfer_dto' when calling WalletToWalletTransfersApi.p2_p_transfer"
      end
      # resource path
      local_var_path = '/api/v1/client/{clientHashId}/customer/{customerHashId}/wallet/{walletHashId}/p2pTransfer'.sub('{' + 'clientHashId' + '}', CGI.escape(client_hash_id.to_s)).sub('{' + 'customerHashId' + '}', CGI.escape(customer_hash_id.to_s)).sub('{' + 'walletHashId' + '}', CGI.escape(wallet_hash_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-request-id'] = opts[:'x_request_id'] if !opts[:'x_request_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(p2_p_transfer_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'P2PTransferResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['default']

      new_options = opts.merge(
        :operation => :"WalletToWalletTransfersApi.p2_p_transfer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalletToWalletTransfersApi#p2_p_transfer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Wallet to Wallet Transfer
    # This API allows you to transfer the money from one wallet to another wallet for customers belonging to different client.
    # @param client_hash_id [String] Unique client identifier generated and shared before API handshake.
    # @param customer_hash_id [String] Unique customer identifier generated on customer creation.
    # @param wallet_hash_id [String] Unique source wallet identifier generated simultaneously with customer creation.
    # @param fund_transfer_request_dto [FundTransferRequestDTO] fundTransferRequestDTO
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_request_id Enter a unique UUID value
    # @return [FundTransferResponse]
    def wallet_transfer(client_hash_id, customer_hash_id, wallet_hash_id, fund_transfer_request_dto, opts = {})
      data, _status_code, _headers = wallet_transfer_with_http_info(client_hash_id, customer_hash_id, wallet_hash_id, fund_transfer_request_dto, opts)
      data
    end

    # Wallet to Wallet Transfer
    # This API allows you to transfer the money from one wallet to another wallet for customers belonging to different client.
    # @param client_hash_id [String] Unique client identifier generated and shared before API handshake.
    # @param customer_hash_id [String] Unique customer identifier generated on customer creation.
    # @param wallet_hash_id [String] Unique source wallet identifier generated simultaneously with customer creation.
    # @param fund_transfer_request_dto [FundTransferRequestDTO] fundTransferRequestDTO
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_request_id Enter a unique UUID value
    # @return [Array<(FundTransferResponse, Integer, Hash)>] FundTransferResponse data, response status code and response headers
    def wallet_transfer_with_http_info(client_hash_id, customer_hash_id, wallet_hash_id, fund_transfer_request_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalletToWalletTransfersApi.wallet_transfer ...'
      end
      # verify the required parameter 'client_hash_id' is set
      if @api_client.config.client_side_validation && client_hash_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_hash_id' when calling WalletToWalletTransfersApi.wallet_transfer"
      end
      # verify the required parameter 'customer_hash_id' is set
      if @api_client.config.client_side_validation && customer_hash_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_hash_id' when calling WalletToWalletTransfersApi.wallet_transfer"
      end
      # verify the required parameter 'wallet_hash_id' is set
      if @api_client.config.client_side_validation && wallet_hash_id.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_hash_id' when calling WalletToWalletTransfersApi.wallet_transfer"
      end
      # verify the required parameter 'fund_transfer_request_dto' is set
      if @api_client.config.client_side_validation && fund_transfer_request_dto.nil?
        fail ArgumentError, "Missing the required parameter 'fund_transfer_request_dto' when calling WalletToWalletTransfersApi.wallet_transfer"
      end
      # resource path
      local_var_path = '/api/v1/client/{clientHashId}/customer/{customerHashId}/wallet/{walletHashId}/transfers'.sub('{' + 'clientHashId' + '}', CGI.escape(client_hash_id.to_s)).sub('{' + 'customerHashId' + '}', CGI.escape(customer_hash_id.to_s)).sub('{' + 'walletHashId' + '}', CGI.escape(wallet_hash_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-request-id'] = opts[:'x_request_id'] if !opts[:'x_request_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(fund_transfer_request_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'FundTransferResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['default']

      new_options = opts.merge(
        :operation => :"WalletToWalletTransfersApi.wallet_transfer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalletToWalletTransfersApi#wallet_transfer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
